@import url("https://fonts.cdnfonts.com/css/work-sans");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap");

#card-body {
  font-family: "Work Sans", sans-serif;
  font-weight: 260 !important;
  margin: 0;
  padding: 10px;
}

.orange-text {
  color: #ef512c;
  justify-content: center;
  align-items: center;
  align-items: center;
  align-self: center;
}

#equals {
  background-color: #ef512c;
  color: white;
  border-radius: 5px;
}

#display {
  font-family: "Roboto Mono", monospace;
}
